.App-header {
  background-color: #434249;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title{
  color: white;
  font-size: 64px;
  padding-bottom: 10px;
}

.container{
  margin-top: 20px;
  width: 1300px;
  height: 800px;
  background-color: rgb(16, 14, 56);
  border-radius: 20px;
}

.mainContainer{
  background-color: rgb(40, 40, 59);
  width: 1300px;
  height: 530px;
}
